*.log
.vagrant
.DS_Store

*.o

# for Kernel Module
modules.order
hello_module.mod.o
hello_module.mod.c
hello_module.ko
Module.symvers
.tmp_versions
.hello_module.o.cmd
.hello_module.mod.o.cmd
.hello_module.ko.cmd

